<div class="layout-container">
    <header role="banner">
        {{ page.header }}
    </header>
    {{ page.navigation }}
    {{ page.search_filter }}
    {{ page.breadcrumb }}
<div class="error-page-wrap">
    <h2 class="large404">4o4</h2>
    <h3>Page was not Found</h3>
    <p>The page you are looking is not available or has been removed.<br>
    Try going to Home Page by using the button below.</p>
    <a class="btn" href="#1" >Go to Home Page</a>
</div>
</div>
{{ page.newsletter }}
<footer role="contentinfo">
    {{ page.footer }}
    {{ page.footer_menu }}
    {{ page.footer_links }}
    {{ page.footer_copyright }}
</footer>